
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="../static/style/page.css" rel="stylesheet" type="text/css">
   
    <style>
      a:hover {
      color: grey !important;
      
      }
      </style>

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top" style="background-color: white; color:black;"> 
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/code" style="font-weight:bold; font-size:130%; color:black;">startaNu &trade;</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav" style="padding-left: 15px;">
                <li><a href="/" style="color:black;">Home</a></li>
		<li><a href="/code" style="color:black;">Code</a></li>
		</ul>
	      <ul class="nav navbar-nav" style="float:right; padding-right:30px;">
		<li><a href="/presentation" style="color:black;">Presentation</a></li>
                <li><a href="/about" style="color:black;">About</a></li>
                <li><a href="/contact" style="color:black;"><b>Contact</b></a></li>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
	<div class="col-lg-12">
	   <h1 style="text-align:center; margin-bottom: 35px;">Kontakta oss:</h1>
	   </div>
	</div>
	<div class="row" style="margin-bottom: 100px;">
	
        <div class="col-lg-6 col-xs-12" style="height:200px;">
	  
	 


	  <div class="thumbnail center-block" style="width: 150px; height:150px;">
	     <img src="../static/images/emil.jpg">
	    <p style="margin-top:5px; margin-bottom:5px;">
	     
	      <b>Emil Nilsson</b><br>
	      0736-428 628<br>
	      emini901@student.liu.se

	    </p>
		 
          </div>
		 
        </div>

	<div class="col-lg-6 col-xs-12">
	



	    <div class="thumbnail center-block" style="width: 150px; height:150px;">
	      
	      <img src="../static/images/tommy.jpg" style="height: 140px;">
	   
	      <p style="margin-top: 5px; margin-bottom: 5px;">

		<b>Tommy Lindman</b><br>
		073-947 41 40<br>
		tomli962@student.liu.se

	      </p>
	    </div>	 
          
		 
        </div>
      </div><!-- /.row -->



      

   

    

      <hr class="featurette-divider">




      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 startaNu &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->

  </body>
</html>
